<h1 class="page-header">Forms</h1>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="forms.html">Forms</a></li>
    <li role="presentation" class="inactive"><a href="form-fields.html">Fields</a></li>
</ul>
<div ng-controller="FormController" class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="col-xs-9"><span class="glyphicon glyphicon-triangle-bottom" aria-label="Sort"></span> Form Name
            </th>
            <th class="col-xs-3">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input ng-model="form.title" type="text" class="form-control" id="inputForm"
                       placeholder="Form's name" required></td>
            <td>
                <span ng-click="updateForm(form);" class="glyphicon glyphicon-ok forms-glyphicon"
                      aria-label="Update"></span>
                <span ng-click="addForm(form);" class="glyphicon glyphicon-plus forms-glyphicon"
                      aria-label="Add"></span>
            </td>
        </tr>
        <tr ng-repeat="form in forms">
            <td>{{form.title}}</td>
            <td>
                <span ng-click="selectForm(form);" class="glyphicon glyphicon-pencil forms-glyphicon"
                      aria-label="Select"></span>
                <span ng-click="deleteForm(form);" class="glyphicon glyphicon-remove forms-glyphicon"
                      aria-label="Delete"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>