<div ng-if="!(currentUser === undefined)">
    <footer class="footer">
        <div ng-controller="FooterController" class="container text-muted">

            <div class="col-xs-2">
                <!--span ng-click="" class="glyphicon glyphicon-heart"
                      aria-label="favorite"></span-->
                <span ng-click="openComment();" class="glyphicon glyphicon-menu-hamburger"
                      aria-label="Song's Detail"></span>
            </div>

            <div ng-show="!(currentSong === undefined)">
                <label class="col-xs-5 col-xs-offset-1">{{currentSong.title}}</label>
                <label class="col-xs-2">{{currentSong.artist}}</label>
            </div>

            <div ng-show="currentSong === undefined">
                <label class="col-xs-5 col-xs-offset-1">...</label>
                <label class="col-xs-2">...</label>
            </div>

        </div>
    </footer>
</div>
<div ng-if="currentUser === undefined">
    <div class="footnote">Click
        <a href="readme.html">here</a>
        for project's progress and instruction
    </div>
</div>