<div ng-model="song" ng-switch="field.type">
    <div class="modal-header">
        <h3 class="modal-title">Tittle: {{song.title}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="form-group modal-scroll">
                <label class="control-label"><h4>Comments:</h4></label>
                <div class="separatorCSS"></div>
                <div ng-repeat="comment in song.comment">
                    <br>
                    <label class="control-label">User : {{comment.username}}</label>
                    <div ng-if="comment.username === currentUser.username || currentUser.roles === 'admin'"
                         class="input-group">
                        <span ng-click="delete(comment)" class="input-group-addon btn btn-primary">Delete</span>
                        <textarea class="form-control modal-oldComment" readonly>{{comment.content}}</textarea>
                    </div>
                    <textarea ng-if="comment.username != currentUser.username && currentUser.roles != 'admin'"
                              class="form-control modal-oldComment" readonly>{{comment.content}}</textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="form-group">
                <label class="control-label comment-label">New Comment:</label>
                <textarea class="col-xs-8 form-control" ng-model="newComment" type="text"></textarea>
            </div>
            <button class="col-xs-2 btn btn-warning comment-button" type="button" ng-click="cancel()">Close
            </button>
            <button class="col-xs-2 btn btn-primary comment-button" type="button" ng-click="ok(newComment);">Add
            </button>
        </div>
    </div>
</div>