<h1 class="page-header project-page-header">Welcome to MusicDB</h1>
<form name="model.myform" class="form-horizontal">
    <div class="form-group">
        <label for="inputUserName" class="col-sm-3 control-label">Username:</label>
        <div class="col-sm-9">
            <input ng-model="model.user.username" type="text" class="form-control" id="inputUserName"
                   placeholder="Username" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-3 control-label">Password:</label>
        <div class="col-sm-9">
            <input ng-model="model.user.password" type="password" class="form-control" id="inputPassword"
                   placeholder="Password" required>
        </div>
    </div>
    <div class="form-group">
        <label for="verifyPassword" class="col-sm-3 control-label">Verify Password:</label>
        <div class="col-sm-9">
            <input ng-model="model.user.password2" type="password" class="form-control" id="verifyPassword"
                   placeholder="Verify Password" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-3 control-label">Email:</label>
        <div class="col-sm-9">
            <input ng-model="model.user.email" type="email" class="form-control" id="inputEmail" placeholder="Email"
                   required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button ng-click="model.register(model.user);" type="submit"
               class="btn btn-primary btn-lg btn-block">Register</button>
        </div>
    </div>
</form>
