<ul class="nav nav-sidebar">
    <!--<span class="sr-only">(current)</span>-->
    <li ng-class="{'active' : $location.url().indexOf('register') != -1}"><a href="home.html">Home</a></li>
    <li ng-class="{'active' : $location.url().indexOf('profile') != -1}"><a href="profile.html">Profile</a></li>
    <li ng-class="{'active' : $location.url().indexOf('admin') != -1}"><a href="admin.html">Admin</a></li>
    <li ng-class="{'active' : $location.url().indexOf('form') != -1}"><a href="forms.html">Form</a></li>
</ul>

