<h1 class="page-header">Login</h1>
<form name="model.myform" class="form-horizontal">
    <div class="form-group">
        <label for="inputUserName" class="col-sm-3 control-label">Username:</label>
        <div class="col-sm-9">
            <input ng-model="model.user.username" type="text" class="form-control" id="inputUserName"
                   placeholder="Username" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-3 control-label">Password:</label>
        <div class="col-sm-9">
            <input ng-model="model.user.password" type="password" class="form-control" id="inputPassword"
                   placeholder="Password" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button ng-click="model.login(model.user);" type="submit" class="btn btn-secondary btn-lg btn-block">Login</button>
            <span ng-show="model.invalidSubmit;">Invalid Username/Password Combination!</span>
        </div>
    </div>
</form>
