<h1 class="search-page-header text-center">Search</h1>

<form name="model.myform" class="form-horizontal">
    <input ng-model="model.songTitle"
           class="form-control"
           placeholder="Search for song"/>
    <button ng-click="model.search(model.songTitle)"
            class="btn btn-primary btn-block">
        Search
    </button>
    <div ng-if="model.clicked && !model.data">
        <h2 class="homepage-center-text"><br>Please wait ...</h2>
    </div>
    <div ng-if="model.data">
        <br>
        <br>
        <h3>Search Results</h3>
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th class="col-xs-3">Cover</th>
                <th class="col-xs-3">Title</th>
                <th class="col-xs-3">Artist</th>
                <th class="col-xs-3">Album</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="song in model.data">
                <td>
                    <div class="image-homepage-container">
                        <img ng-src="{{song.cover}}"
                             height="100px"/>
                        <div class="after">
                            <span ng-click="model.addSong(song)"
                                  class=" glyphicon glyphicon-plus image-homepage-glyphicon"></span>
                        </div>
                    </div>
                </td>
                <td>
                    {{song.title}}
                </td>
                <td>{{song.artist}}</td>
                <td>{{song.album}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</form>



